/* style.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}

nav {
  display: flex;
  background-color: #333;
  justify-content: space-between;
  padding: 1rem 5%;
  color: #fff;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.logo h2 {
  margin-left: 1rem;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links.active .nav-menu li a {
  color: #f0e68c; /* Change link color when active */
}

.hamburger {
  display: none; /* Hide for larger screens */
}

/* Show menu when screen size is small */
@media screen and (max-width: 768px) {
.nav-menu {
    position: fixed; /* Position menu at top of screen */
    left: -100%; /* Hide menu initially */
    top: -100%; /* Hide menu initially */
    width: calc(100% - #{padding});
    height: calc(100% - #{padding}); /* Adjust for padding */
    background-color: #333; /* Menu background color */
    transition: left ease-in-out .3s; /* Smooth slide animation */
}

.nav-menu.active { left:0; }

/* Styling for smaller screens */
.hamburger { display:block; }
.bar { display:block; width:25px; height:3px; margin:5px auto; transition:.3s ease-in-out; background-color:#fff; }
.bar:nth-child(2) { opacity:.8; }
